@using B3WM.Client.Extensions
@using B3WM.Shared.Entity
@using System.Diagnostics
@using BlazorWorker.BackgroundServiceFactory
@using BlazorWorker.Core
@using BlazorWorker.WorkerBackgroundService
@implements IAsyncDisposable
@inject IWorkerFactory workerFactory

@code {

    [Parameter, EditorRequired]
    public required bool EnableBubbleFormer { get; set; }

    [Parameter, EditorRequired]
    public required bool EnableCandleFormer { get; set; }

    [Parameter, EditorRequired]
    public required bool EnableVolumeFormer { get; set; }

    [Parameter]
    public int TimeFrame { get; set; } = 5;

    [Parameter]
    public int BubbleThreshold { get; set; } = 125;

    [Parameter]
    public EventCallback<IEnumerable<Bars>>? OnNewBars { get; set; }

    [Parameter]
    public EventCallback<Bubble>? OnNewBubble { get; set; }

    [Parameter]
    public EventCallback<Bars?> OnNewCurrentBar { get; set; }

    [Parameter]
    public EventCallback<IEnumerable<VolumeLevel>> OnVolumeUpdate { get; set; }

    private IWorker? MainWorker;
    public IWorkerBackgroundService<MainHelper>? MainService;


    private int _bubbleQueue { get; set; } = 0;
    private int _volumeQueue { get; set; } = 0;
    private int _candleQueue { get; set; } = 0;

    private string? _bubbleTimeQueue { get; set; }
    private string? _volumeTimeQueue { get; set; }
    private string? _candleTimeQueue { get; set; }

    private DateTime? _lastUpdateBarPending { get; set; }

    private PeriodicTimer? _timer;

    protected override void OnInitialized()
    {
        CreateWorkers();
    }

    public async void CreateWorkers()
    {
        if (MainWorker == null)
            MainWorker = await workerFactory.CreateAsync();

        if (MainService == null)
        {
            MainService = await MainWorker.CreateBackgroundServiceAsync<MainHelper>(options
                     => options.UseCustomExpressionSerializer(typeof(KnownTypesJsonSerializer)));


            #region Candle
            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnClosedBars), void (object? s, IEnumerable<Bars> data) => 
            {
                //HelperPerformanceConfig.Log(nameof(HubClient), "Candle_OnClosedBars", 0, $"Received new closed bars at {DateTime.Now:HH:mm:ss.fff}");
                _ = OnNewBars?.InvokeAsync(data);
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnQueueCount), (object? s, int data) =>
            {
                //HelperPerformanceConfig.Log(nameof(HubClient), "Candle_OnQueueCount", 0, $"Received new candle queue count: {data} at {DateTime.Now:HH:mm:ss.fff}");
                _candleQueue = data;
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnUpdateLastBar), void (object? s, Bars? data) =>
            {
                //HelperPerformanceConfig.Log(nameof(HubClient), "Candle_OnUpdateLastBar", 0, $"Received new current bar at {DateTime.Now:HH:mm:ss.fff}");
                _ = OnNewCurrentBar.InvokeAsync(data);
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnQueueTime), void (object? s, string data) =>
            {
                _candleTimeQueue = data;
            });
            #endregion

            #region Bubble
            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Bubble_OnNewBubble), void (object? s, Bubble data) =>
            {
                //HelperPerformanceConfig.Log(nameof(HubClient), "Bubble_OnNewBubble", 0, $"Received new bubble at {DateTime.Now:HH:mm:ss.fff}");
                _ = OnNewBubble?.InvokeAsync(data);
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Bubble_OnQueueCount), (object? s, int data) =>
            {
                //HelperPerformanceConfig.Log(nameof(HubClient), "Bubble_OnQueueCount", 0, $"Received new bubble queue count: {data} at {DateTime.Now:HH:mm:ss.fff}");
                _bubbleQueue = data;
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Bubble_OnQueueTime), void (object? s, string data) =>
            {
                _bubbleTimeQueue = data;
            });
            #endregion

            #region Volume

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Volume_OnQueueCount), (object? s, int data) =>
            {
                //HelperPerformanceConfig.Log(nameof(HubClient), "Volume_OnQueueCount", 0, $"Received new volume queue count: {data} at {DateTime.Now:HH:mm:ss.fff}");
                _volumeQueue = data;
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Volume_OnVolumeUpdate), void (object? s, List<VolumeLevel> data) =>
            {
                //HelperPerformanceConfig.Log(nameof(HubClient), "Volume_OnUpdateLastVolume", 0, $"Received new current volume at {DateTime.Now:HH:mm:ss.fff}");
                _ = OnVolumeUpdate.InvokeAsync(data);
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Volume_OnQueueTime), void (object? s, string data) =>
            {
                _volumeTimeQueue = data;
            });

            #endregion

            await MainService.RunAsync(s => s.InitCandle(1500, TimeFrame, true, EnableCandleFormer));
            await MainService.RunAsync(s => s.InitBubble(2500, BubbleThreshold, true, EnableBubbleFormer));
            await MainService.RunAsync(s => s.InitVolume(1000, true, EnableVolumeFormer));
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_timer != null) _timer.Dispose();

        if (MainWorker != null) await MainWorker.DisposeAsync();
        if (MainService != null) await MainService.DisposeAsync();
    }

    public async Task<List<VolumeLevel>> VolumeGetSnapshot(DateTime? from, DateTime? to)
    {
        if (MainService == null) return new List<VolumeLevel>();

        var result = await MainService.RunAsync<List<VolumeLevel>>(s => s.VolumeGetSnapshot(from, to));

        return result ?? new List<VolumeLevel>();
    }

}
<MudDivider Vertical Class="mx-2" FlexItem="true" DividerType="DividerType.Middle" />
<div style="margin-right: 65px">
    <MudTooltip Text="@($"Candle Queue: {_candleQueue}\nLast Time: {_candleTimeQueue}")" Placement="Placement.Left">
        <MudBadge Color="@(_candleQueue >= 100 ? Color.Warning : Color.Success)" Overlap=true Bordered=true Content="@($" {_candleTimeQueue} | {_candleQueue.ToString()}")">
            <MudIconButton Icon="@Icons.Material.Filled.CandlestickChart" Size="Size.Small"  />
        </MudBadge>
    </MudTooltip>
</div>
<div style="margin-right: 65px">
    <MudTooltip Text="@($"Bubble Queue: {_bubbleQueue}\nLast Time: {_bubbleTimeQueue}")" Placement="Placement.Left">
        <MudBadge Color="@(_bubbleQueue >= 100 ? Color.Warning : Color.Success)" Overlap=true Bordered=true Content="@($" {_bubbleTimeQueue} | {_bubbleQueue.ToString()}")">
            <MudIconButton Icon="@Icons.Material.Filled.BubbleChart" Size="Size.Small" />
        </MudBadge>
    </MudTooltip>
</div>
<div style="margin-right: 65px">
    <MudTooltip Text="@($"Volume Queue: {_volumeQueue}\nLast Time: {_volumeTimeQueue}")" Placement="Placement.Left">
        <MudBadge Color="@(_volumeQueue >= 100 ? Color.Warning : Color.Success)" Overlap=true Bordered=true Content="@($" {_volumeTimeQueue} | {_volumeQueue.ToString()}")">
            <MudIconButton Icon="@Icons.Material.Filled.BarChart" Size="Size.Small"  />
        </MudBadge>
    </MudTooltip>
</div>