@using B3WM.Client.Extensions
@using B3WM.Shared.Entity
@using System.Diagnostics
@using BlazorWorker.BackgroundServiceFactory
@using BlazorWorker.Core
@using BlazorWorker.WorkerBackgroundService
@implements IAsyncDisposable
@inject IWorkerFactory workerFactory

@code {
    [Parameter, EditorRequired]
    public required HubClientReceiver hubClientReceiver { get; set; }

    [Parameter, EditorRequired]
    public required bool EnableBubbleFormer { get; set; }

    [Parameter, EditorRequired]
    public required bool EnableCandleFormer { get; set; }

    [Parameter, EditorRequired]
    public required bool EnableVolumeFormer { get; set; }

    [Parameter]
    public int TimeFrame { get; set; } = 5;

    [Parameter]
    public int BubbleThreshold { get; set; } = 125;

    [Parameter]
    public EventCallback<IEnumerable<Bars>>? OnNewBars { get; set; }

    [Parameter]
    public EventCallback<Bubble>? OnNewBubble { get; set; }

    [Parameter]
    public EventCallback<Bars?> OnNewCurrentBar { get; set; }

    [Parameter]
    public EventCallback<IEnumerable<VolumeLevel>> OnVolumeUpdate { get; set; }

    private IWorker? MainWorker;
    private IWorkerBackgroundService<MainHelper>? MainService;


    private int _bubbleQueue { get; set; } = 0;
    private int _volumeQueue { get; set; } = 0;
    private int _candleQueue { get; set; } = 0;

    private DateTime? _lastUpdateBarPending { get; set; }

    private PeriodicTimer? _timer;

    protected override void OnInitialized()
    {
        CreateWorkers();

        _timer = new PeriodicTimer(TimeSpan.FromMilliseconds(2000));
        _ = RunLoop();
    }

    //List<Ticks2> ticksGroupped = new List<Ticks2>();

    private async Task RunLoop()
    {
        while (await _timer!.WaitForNextTickAsync())
        {
            HelperPerformanceConfig.Log(nameof(HubClient), "RunLoop", 0, $"tick at {DateTime.Now:HH:mm:ss.fff}");

            if (hubClientReceiver == null) continue;

            List<Ticks2> ticksGroupped = new List<Ticks2>();

            while (hubClientReceiver._channelTicks.Reader.TryRead(out Ticks2[]? ticks))
            {
                ticksGroupped.AddRange(ticks);
                _lastUpdateBarPending = ticks.Last().Time;
            }


            _ = Enqueue(ticksGroupped.ToArray());

            StateHasChanged();

        }
    }

    private Task Enqueue(Ticks2[] ticks)
    {

        if (ticks == null || ticks.Length == 0) return Task.CompletedTask;

        var swWrite = Stopwatch.StartNew();

        if (MainService != null && ticks != null)
            _ = MainService.RunAsync(s => s.Enqueue(ticks));

        swWrite.Stop();

        HelperPerformanceConfig.Log(nameof(HubClient), "Enqueue", swWrite.ElapsedMilliseconds, $"count={ticks.Length}");

        return Task.CompletedTask;
    }


    public async void CreateWorkers()
    {
        if (MainWorker == null)
            MainWorker = await workerFactory.CreateAsync();

        if (MainService == null)
        {
            MainService = await MainWorker.CreateBackgroundServiceAsync<MainHelper>(options
                     => options.UseCustomExpressionSerializer(typeof(KnownTypesJsonSerializer)));


            #region Candle
            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnClosedBars), void (object? s, IEnumerable<Bars> data) => 
            {
                HelperPerformanceConfig.Log(nameof(HubClient), "Candle_OnClosedBars", 0, $"Received new closed bars at {DateTime.Now:HH:mm:ss.fff}");
                _ = OnNewBars?.InvokeAsync(data);
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnQueueCount), (object? s, int data) =>
            {
                HelperPerformanceConfig.Log(nameof(HubClient), "Candle_OnQueueCount", 0, $"Received new candle queue count: {data} at {DateTime.Now:HH:mm:ss.fff}");
                _candleQueue = data;
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnUpdateLastBar), void (object? s, Bars? data) =>
            {
                HelperPerformanceConfig.Log(nameof(HubClient), "Candle_OnUpdateLastBar", 0, $"Received new current bar at {DateTime.Now:HH:mm:ss.fff}");
                _ = OnNewCurrentBar.InvokeAsync(data);
            });
            #endregion

            #region Bubble
            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Bubble_OnNewBubble), void (object? s, Bubble data) =>
            {
                HelperPerformanceConfig.Log(nameof(HubClient), "Bubble_OnNewBubble", 0, $"Received new bubble at {DateTime.Now:HH:mm:ss.fff}");
                _ = OnNewBubble?.InvokeAsync(data);
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Bubble_OnQueueCount), (object? s, int data) =>
            {
                HelperPerformanceConfig.Log(nameof(HubClient), "Bubble_OnQueueCount", 0, $"Received new bubble queue count: {data} at {DateTime.Now:HH:mm:ss.fff}");
                _bubbleQueue = data;
            });
            #endregion

            #region Volume

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Volume_OnQueueCount), (object? s, int data) =>
            {
                HelperPerformanceConfig.Log(nameof(HubClient), "Volume_OnQueueCount", 0, $"Received new volume queue count: {data} at {DateTime.Now:HH:mm:ss.fff}");
                _volumeQueue = data;
            });

            await MainService.RegisterEventListenerAsync(nameof(MainHelper.Volume_OnVolumeUpdate), void (object? s, List<VolumeLevel> data) =>
            {
                HelperPerformanceConfig.Log(nameof(HubClient), "Volume_OnUpdateLastVolume", 0, $"Received new current volume at {DateTime.Now:HH:mm:ss.fff}");
                _ = OnVolumeUpdate.InvokeAsync(data);
            });

            #endregion

            await MainService.RunAsync(s => s.InitCandle(1000, TimeFrame, true, EnableCandleFormer));
            await MainService.RunAsync(s => s.InitBubble(1000, BubbleThreshold, true, EnableBubbleFormer));
            await MainService.RunAsync(s => s.InitVolume(1000, true, EnableVolumeFormer));
        }
    }

    // public async Task CreateCandleWorker()
    // {
    //     if (CandleWorker == null)
    //         CandleWorker = await workerFactory.CreateAsync();

    //     if (CandleService == null)
    //     {
    //         CandleService = await CandleWorker.CreateBackgroundServiceAsync<CandleHelper>(options
    //                  => options.UseCustomExpressionSerializer(typeof(KnownTypesJsonSerializer)));

    //         await CandleService.RegisterEventListenerAsync(nameof(CandleHelper.OnClosedBars), void (object? s, IEnumerable<Bars> data) => _ = OnNewBars?.InvokeAsync(data));

    //         await CandleService.RegisterEventListenerAsync(nameof(CandleHelper.OnQueueCount), (object? s, int data) =>
    //         {
    //             _candleQueue = data;
    //         });

    //         await CandleService.RegisterEventListenerAsync(nameof(CandleHelper.OnUpdateLastBar), void (object? s, Bars? data) => _ = OnNewCurrentBar.InvokeAsync(data));

    //         await CandleService.RunAsync(s => s.Init(500, TimeFrame, false));
    //     }
    // }

    // public async Task CreateBubbleWorker()
    // {
    //     if (BubbleWorker == null)
    //         BubbleWorker = await workerFactory.CreateAsync();

    //     if (BubbleService == null)
    //     {
    //         BubbleService = await BubbleWorker.CreateBackgroundServiceAsync<BubbleHelper>(options
    //                  => options.UseCustomExpressionSerializer(typeof(KnownTypesJsonSerializer)));

    //         await BubbleService.RegisterEventListenerAsync(nameof(BubbleHelper.OnNewBubble), void (object? s, Bubble data) => _ = OnNewBubble?.InvokeAsync(data));

    //         await BubbleService.RegisterEventListenerAsync(nameof(BubbleHelper.OnQueueCount), (object? s, int data) =>
    //         {
    //             _bubbleQueue = data;
    //         });

    //         await BubbleService.RunAsync(s => s.Init(2000, BubbleThreshold, false));
    //     }
    // }

    // public async Task CreateVolumeWorker()
    // {
    //     VolumeWorker = await workerFactory.CreateAsync();
    //     VolumeService = await VolumeWorker.CreateBackgroundServiceAsync<VolumeHelper>();
    // }

    public async ValueTask DisposeAsync()
    {
        if (_timer != null) _timer.Dispose();

        if (MainWorker != null) await MainWorker.DisposeAsync();
        if (MainService != null) await MainService.DisposeAsync();
    }

}
<div style="margin-right: 65px">
    <MudTooltip Text="@($"Last Processed: {_lastUpdateBarPending?.ToString("HH:mm:ss")}")" Placement="Placement.Left">
        <MudBadge Color="Color.Info" Overlap=true Bordered=true Content="@($"{_lastUpdateBarPending?.ToString("HH:mm:ss")} ⟳ ")">
            <MudIcon Icon="@Icons.Material.Filled.CandlestickChart" Size="Size.Small" />
        </MudBadge>
    </MudTooltip>
</div>
<MudDivider Vertical Class="mx-2" FlexItem="true" DividerType="DividerType.Middle" />
<MudTooltip Text="@($"Candle Queue: {_candleQueue}")" Placement="Placement.Left">
    <MudBadge Color="@(_candleQueue >= 100 ? Color.Warning : Color.Success)" Overlap=true Bordered=true Content="@_candleQueue.ToString()">
        <MudIconButton Icon="@Icons.Material.Filled.CandlestickChart" Size="Size.Small"  />
    </MudBadge>
</MudTooltip>
<MudTooltip Text="@($"Bubble Queue: {_bubbleQueue}")" Placement="Placement.Left">
    <MudBadge Color="@(_bubbleQueue >= 100 ? Color.Warning : Color.Success)" Overlap=true Bordered=true Content="@_bubbleQueue.ToString()">
        <MudIconButton Icon="@Icons.Material.Filled.BubbleChart" Size="Size.Small" />
    </MudBadge>
</MudTooltip>
<MudTooltip Text="@($"Volume Queue: {_volumeQueue}")" Placement="Placement.Left">
    <MudBadge Color="@(_volumeQueue >= 100 ? Color.Warning : Color.Success)" Overlap=true Bordered=true Content="@_volumeQueue.ToString()">
        <MudIconButton Icon="@Icons.Material.Filled.BarChart" Size="Size.Small"  />
    </MudBadge>
</MudTooltip>