@using B3WM.Client.Model
@using B3WM.Client.Services
@using B3WM.Shared.Entity
@using B3WM.Shared.Extensions
@using System.Text
@using System.Collections.Concurrent
@using System.Diagnostics
@using System.Threading.Channels
@using System.Timers
@inject NavigationManager Navigation
@inherits Components.PersistentComponentBase
@implements IAsyncDisposable
@using BlazorWorker.WorkerBackgroundService
@using BlazorWorker.BackgroundServiceFactory
@using BlazorWorker.Core 
@inject IWorkerFactory workerFactory
@inject IMagicIndexedDb _MagicDb


@code {

    protected override string PersistenceKey => $"{nameof(HubClient)}_state";
    protected override bool ContinuousSave => true;

    private int _counter { get; set; } = 0;

    public bool openDrawer { get; set; } = false;

    string _symbol;

    [CascadingParameter]
    public string Symbol { get; set; }

    [Parameter]
    public Func<BarStorageItem, Task> OnCandleSeriesChange { get; set; } = default!;

    [Parameter]
    public Func<IEnumerable<BookItem>, Task> OnBookChange { get; set; } = default!;

    [Parameter]
    public Func<IEnumerable<Ticks2>, Task> OnNewTicks { get; set; } = default!;

    [Parameter]
    public Func<VolumeLevelStorageItem, Task> OnVolumeUpdate { get; set; } = default!;

    [Parameter]
    public int BubbleThreshold { get; set; } = 125;

    [Parameter]
    public double MinDistanceStructureUpd { get; set; } = 250;

    [Parameter]
    public double AlphaStructureVolume { get; set; } = 0.2;

    [Parameter]
    public Func<BubbleStorageItem, Task> OnNewBubble { get; set; } = default!;

    [Parameter]
    public Func<BarStorageItem, Task> OnCurrentBarChange { get; set; } = default!;

    [Parameter]
    public Func<StructureStorageItem, Task> OnNewStructure { get; set; } = default!;

    [Parameter]
    public Func<StructureVolumeStorageItem, Task> OnNewStructureVolume { get; set; } = default!;

    [Parameter]
    public int TimeFrame { get; set; } = 5;

    private bool _EnableTimesAndTrades = true;
    [Parameter, PersistState]
    public bool EnableTimesAndTrades
    {
        get => _EnableTimesAndTrades;
        set
        {
            if (_EnableTimesAndTrades != value)
            {
                _EnableTimesAndTrades = value;

                if (!_EnableTimesAndTrades){
                    EnableSaveTicksToIndexedDb = false;
                    EnableBubbleFormer = false;
                    EnableCandleFormer = false;
                    EnableVolumeFormer = false;
                }
            }
        }
    }

    [Parameter, PersistState]
    public bool EnableBook { get; set; } = false;

    [Parameter, PersistState]
    public bool EnableTimesAndTradesSimple { get; set; } = false;

    [Parameter, PersistState]
    public bool EnableSaveTicksToIndexedDb { get; set; } = false;

    [PersistState]
    public bool EnableCandleFormer { get; set; } = true;

    public async Task EnableCandleFormerChanged(bool value)
    {
        EnableCandleFormer = value;
        if (EnableCandleFormer)
        {
            _EnableTimesAndTrades = true; // CandleFormer depende de TimesAndTrades
        }

        if (MainService != null)
        {
            await MainService.RunAsync(s => s.SetEnableCandleFormer(EnableCandleFormer));
            HelperPerformanceConfig.Log(nameof(HubClient), "EnableCandleFormerChanged", 0, $"EnableCandleFormer changed to {value} at {DateTime.Now:HH:mm:ss.fff}");
        }
        //StateHasChanged();
    }

    [PersistState]
    public bool EnableVolumeFormer { get; set; } = true;

    public async Task EnableVolumeFormerChanged(bool value)
    {
        EnableVolumeFormer = value;
        if (EnableVolumeFormer)
        {
            _EnableTimesAndTrades = true; // CandleFormer depende de TimesAndTrades
        }

        if (MainService != null)
        {
            await MainService.RunAsync(s => s.SetEnableVolumeFormer(EnableVolumeFormer));
            HelperPerformanceConfig.Log(nameof(HubClient), "EnableVolumeFormer", 0, $"EnableVolumeFormer changed to {value} at {DateTime.Now:HH:mm:ss.fff}");
        }
    }

    [PersistState]
    public bool EnableBubbleFormer { get; set; } = true;

    [PersistState]
    public bool EnableStructureFormer { get; set; } = true;

    public async Task EnableStructureFormerChanged(bool value)
    {
        EnableStructureFormer = value;
        if (EnableStructureFormer)
        {
            _EnableTimesAndTrades = true; //depende de TimesAndTrades
            EnableCandleFormer = true; //depende de candlehelper
        }

        if (MainService != null)
        {
            await MainService.RunAsync(s => s.SetEnableStructureFormer(EnableStructureFormer));
            HelperPerformanceConfig.Log(nameof(HubClient), "EnableStructureFormer", 0, $"EnableStructureFormer changed to {value} at {DateTime.Now:HH:mm:ss.fff}");
        }
    }

    [PersistState]
    public bool EnableStructureVolumeFormer { get; set; } = true;

    public async Task EnableStructureVolumeFormerChanged(bool value)
    {
        EnableStructureVolumeFormer = value;
        if (EnableStructureVolumeFormer)
        {
            _EnableTimesAndTrades = true; //depende de TimesAndTrades
            EnableCandleFormer = true; //depende de candlehelper
        }

        if (MainService != null)
        {
            await MainService.RunAsync(s => s.SetEnableStructureVolumeFormer(EnableStructureVolumeFormer));
            HelperPerformanceConfig.Log(nameof(HubClient), "EnableStructureVolumeFormer", 0, $"EnableStructureVolumeFormer changed to {value} at {DateTime.Now:HH:mm:ss.fff}");
        }
    }

    [PersistState]
    public bool EnableStructureBubbleFormer { get; set; } = false;

    public async Task EnableStructureBubbleFormerChanged(bool value)
    {
        EnableStructureBubbleFormer = value;
        if (EnableStructureBubbleFormer)
        {
            _EnableTimesAndTrades = true; //depende de TimesAndTrades
            EnableCandleFormer = true; //depende de candlehelper
            EnableBubbleFormer = true; //depende de bubbleformer
        }

        if (MainService != null)
        {
            await MainService.RunAsync(s => s.SetEnableStructureBubbleFormer(EnableStructureBubbleFormer));
            HelperPerformanceConfig.Log(nameof(HubClient), "EnableStructureBubbleFormer", 0, $"EnableStructureBubbleFormer changed to {value} at {DateTime.Now:HH:mm:ss.fff}");
        }
    }

    [PersistState]
    public bool FakingData { get; set; } = false;

    public async Task EnableBubbleFormerChanged(bool value)
    {
        EnableBubbleFormer = value;
        if (EnableBubbleFormer)
        {
            EnableBubbleFormer = true; // CandleFormer depende de TimesAndTrades
        }
        if (MainService != null)
        {
            await MainService.RunAsync(s => s.SetEnableBubbleFormer(EnableBubbleFormer));
            HelperPerformanceConfig.Log(nameof(HubClient), "EnableBubbleFormer", 0, $"EnableBubbleFormer changed to {value} at {DateTime.Now:HH:mm:ss.fff}");
        }
    }

    public bool WorkerOn => MainService != null;

    private IWorker? MainWorker;
    private IWorkerBackgroundService<MainHelper>? MainService { get; set; }
    //cada worker é um js criado, logo um webworker diferenta
    private IWorker? MainHubWorker;
    private IWorkerBackgroundService<HubClientWorker>? HubService { get; set; }

    public required IMagicQuery<BarStorageItem> barsQuery { get; set; }
    public required IMagicQuery<BubbleStorageItem> bubbleQuery { get; set; }

    public int ThrottlingCandleMs = 425;
    public int ThrottlingBubbleMs = 1000;
    public int ThrottlingVolumeMs = 425;
    public int ThrottlingStructureMs = 5000;
    public int ThrottlingStructureVolumeMs = 1000;
    public int ThrottlingStructureBubbleMs = 5000;

    private int _bubbleQueue;
    private int _volumeQueue;
    private int _candleQueue;
    private int _structureQueue;
    private int _structureVolumeQueue;

    private string? _bubbleTimeQueue;
    private string? _volumeTimeQueue;
    private string? _candleTimeQueue;
    private string? _structureTimeQueue;
    private string? _structureVolumeTimeQueue;

    public DateTime? _lastUpdateBarReceived { get; set; }

    private VolumeLevelStorageItem? _lastVolumeLevel { get; set; }
    private StructureStorageItem? _lastStructure { get; set; }

    public readonly Channel<byte[]> _channelToDo = Channel.CreateBounded<byte[]>(new BoundedChannelOptions(100000){ SingleReader = true, SingleWriter = false});

    public readonly Channel<BarStorageItem> _channelBarStorage = Channel.CreateBounded<BarStorageItem>(new BoundedChannelOptions(100000) { SingleReader = true, SingleWriter = false });
    public readonly Channel<BubbleStorageItem> _channelBubbleStorage = Channel.CreateBounded<BubbleStorageItem>(new BoundedChannelOptions(100000) { SingleReader = true, SingleWriter = false });

    protected override async Task OnInitializedAsync()
    {

        barsQuery = await _MagicDb.Query<BarStorageItem>();
        bubbleQuery = await _MagicDb.Query<BubbleStorageItem>();

        await base.OnInitializedAsync();

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _ = LoopSendWorker();

            _ = LoopAddBar();

            _ = LoopAddBubble();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public async Task CreateWorkers()
    {
        try{

            HelperPerformanceConfig.Log(nameof(HubClient), "CreateWorkers", 0, $"{MainService != null}");

            if (MainWorker == null)
                MainWorker = await workerFactory.CreateAsync();

            if (MainService != null)
                return;

            MainService = await MainWorker.CreateBackgroundServiceAsync<MainHelper>();

            RegisterCandleEvents();
            RegisterBubbleEvents();
            RegisterVolumeEvents();
            RegisterStructureEvents();
            RegisterStructureVolumeEvents();

            await MainService.RunAsync(s => s.InitCandle(ThrottlingCandleMs, TimeFrame, EnableCandleFormer));
            await MainService.RunAsync(s => s.InitBubble(ThrottlingBubbleMs, BubbleThreshold, EnableBubbleFormer));
            await MainService.RunAsync(s => s.InitVolume(ThrottlingVolumeMs, EnableVolumeFormer));
            await MainService.RunAsync(s => s.InitStructure(ThrottlingStructureMs, MinDistanceStructureUpd, EnableStructureFormer));
            await MainService.RunAsync(s => s.InitStructureVolume(ThrottlingStructureVolumeMs, AlphaStructureVolume, EnableStructureVolumeFormer));
            //await MainService.RunAsync(s => s.InitStructureBubble(ThrottlingStructureBubbleMs, EnableStructureBubbleFormer));

            HelperPerformanceConfig.Log(nameof(HubClient), "CreateWorkers", 0, $"{MainService != null}");

        }catch (Exception e)
        {
            HelperPerformanceConfig.Log(nameof(HubClient), "CreateWorkers", 0, $"Error: {e.Message}");
        }
    }

    public async Task CreateHubWorkers()
    {
        try
        {

            HelperPerformanceConfig.Log(nameof(HubClient), "CreateWorkersHub", 0, $"{MainService != null}");

            if (MainHubWorker == null)
                MainHubWorker = await workerFactory.CreateAsync();

            if (HubService != null)
                return;

            HubService = await MainHubWorker.CreateBackgroundServiceAsync<HubClientWorker>();

            await HubService!.RegisterEventListenerAsync(nameof(HubClientWorker.Notify),
                (object? s, IEnumerable<byte[]> datas) =>
                {
                    var sw = Stopwatch.StartNew();

                    if (!EnableTimesAndTrades) return;


                    //debug de velocidade e confirmação de dados
                    _counter += datas.Count();

                    foreach (var data in datas)
                        _ = _channelToDo.Writer.WriteAsync(data);

                    _lastUpdateBarReceived = DateTime.Now;

                    sw.Stop();
                });

            if (HubService != null)
                await HubService.RunAsync(e => e.Init(Navigation.ToAbsoluteUri("/api/datahub").AbsoluteUri, 200, Symbol));


        }
        catch (Exception e)
        {
            HelperPerformanceConfig.Log(nameof(HubClient), "CreateWorkers", 0, $"Error: {e.Message}");
        }
    }

    #region Candle
    private void RegisterCandleEvents()
    {
        MainService!.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnClosedBars),
            async (object? s, BarStorageItem data) =>
            {
                var sw = Stopwatch.StartNew();

                data = await AddBarsOnDB(data);

                _ = OnCandleSeriesChange?.Invoke(data);


                sw.Stop();
                HelperPerformanceConfig.Log(nameof(HubClient), "Candle_OnClosedBars",
                    sw.ElapsedMilliseconds,
                    $"Received new closed bars at {DateTime.Now:HH:mm:ss.fff}");
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnQueueCount),
            (object? s, int data) =>
            {
                _candleQueue = data;
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnUpdateLastBar),
            (object? s, BarStorageItem? data) =>
            {
                var sw = Stopwatch.StartNew();

                _ = OnCurrentBarChange?.Invoke(data);

                sw.Stop();
                // HelperPerformanceConfig.Log(nameof(HubClient), "Candle_OnUpdateLastBar",
                //     sw.ElapsedMilliseconds,
                //     $"Received new current bar at {DateTime.Now:HH:mm:ss.fff}");
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.Candle_OnQueueTime),
            (object? s, string data) =>
            {
                _candleTimeQueue = data;
            });
    }
    #endregion

    #region Bubble
    private void RegisterBubbleEvents()
    {
        MainService!.RegisterEventListenerAsync(nameof(MainHelper.Bubble_OnNewBubble),
            (object? s, BubbleStorageItem data) =>
            {
                var sw = Stopwatch.StartNew();

                _ = OnNewBubble?.Invoke(data);

                _ = AddBubleOnDB(data);

                sw.Stop();
                // HelperPerformanceConfig.Log(nameof(HubClient), "Bubble_OnNewBubble",
                //     sw.ElapsedMilliseconds,
                //     $"Received new bubble at {DateTime.Now:HH:mm:ss.fff}");
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.Bubble_OnQueueCount),
            (object? s, int data) =>
            {
                _bubbleQueue = data;
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.Bubble_OnQueueTime),
            (object? s, string data) =>
            {
                _bubbleTimeQueue = data;
            });
    }
    #endregion

    #region Volume
    private void RegisterVolumeEvents()
    {
        MainService!.RegisterEventListenerAsync(nameof(MainHelper.Volume_OnQueueCount),
            (object? s, int data) =>
            {
                _volumeQueue = data;
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.Volume_OnVolumeUpdate),
            (object? s, VolumeLevelStorageItem data) =>
            {
                var sw = Stopwatch.StartNew();

                _ = OnVolumeUpdate?.Invoke(data);

                //atualiza virtualmente
                _lastVolumeLevel = data;

                sw.Stop();
                // HelperPerformanceConfig.Log(nameof(HubClient), "Volume_OnUpdateLastVolume",
                //     sw.ElapsedMilliseconds,
                //     $"Received new current volume at {DateTime.Now:HH:mm:ss.fff}");
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.Volume_OnQueueTime),
            (object? s, string data) =>
            {
                _volumeTimeQueue = data;
            });
    }

    public async Task SetVolumeIntraday(List<VolumeLevel> volumes)
    {
        if (MainService == null)
            return;


        var jsonVolumes = System.Text.Json.JsonSerializer.Serialize(volumes);

        await MainService.RunAsync(s => s.SetVolumeIntraday(jsonVolumes));
    }
    #endregion


    #region Structure
    private void RegisterStructureEvents()
    {
        MainService!.RegisterEventListenerAsync(nameof(MainHelper.Structure_OnQueueCount),
            (object? s, int data) =>
            {
                _structureQueue = data;
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.Structure_OnNewStructure),
            (object? s, StructureStorageItem data) =>
            {
                var sw = Stopwatch.StartNew();

                _ = OnNewStructure?.Invoke(data);

                _lastStructure = data;

                sw.Stop();
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.Structure_OnQueueTime),
            (object? s, string data) =>
            {
                _structureTimeQueue = data;
            });
    }

    public async Task<List<StructureStorageItem>> SetStructureMinDistance(double minDistance, string jsonBars)
    {
        if (MainService == null)
            return new();

        return await MainService.RunAsync(s => s.SetMinDistanceStrucure(minDistance, jsonBars));
    }
    #endregion

    #region Structure Volume
    private void RegisterStructureVolumeEvents()
    {
        MainService!.RegisterEventListenerAsync(nameof(MainHelper.StructureVolume_OnQueueCount),
            (object? s, int data) =>
            {
                _structureVolumeQueue = data;
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.StructureVolume_OnNewStructure),
            (object? s, StructureVolumeStorageItem data) =>
            {
                var sw = Stopwatch.StartNew();

                _ = OnNewStructureVolume?.Invoke(data);

                sw.Stop();
            });

        MainService.RegisterEventListenerAsync(nameof(MainHelper.StructureVolume_OnQueueTime),
            (object? s, string data) =>
            {
                _structureVolumeTimeQueue = data;
            });
    }

    public async Task SetStructureAlpha(double _alpha)
    {
        if (MainService == null)
            return;

        await MainService.RunAsync(s => s.SetFttStructureVolume(_alpha));
    }
    #endregion

    private CancellationTokenSource _cts = new();

    private async Task LoopSendWorker()
    {
        try
        {
            HelperPerformanceConfig.Log(nameof(HubClient), "RunLoopCache", 0, $"Starting RunLoopCache at {DateTime.Now:HH:mm:ss.fff}");

            while (await _channelToDo.Reader.WaitToReadAsync(_cts.Token))
            {
                var sw = Stopwatch.StartNew();

                //cria variavel para enviar os dados uma unica vez para o worker, evitando múltiplas chamadas ao método RunAsync e consequentemente melhorando a performance
                string allCompactData = string.Empty;

                var dequeued = _channelToDo.Reader.Count;

                int count = 0;

                while (_channelToDo.Reader.TryRead(out byte[]? _data) && count<10)
                {
                    if (_data == null) continue;

                    allCompactData += Encoding.UTF8.GetString(_data);
                    count++;
                }

                if (MainService != null)
                {
                    var swTotal = Stopwatch.StartNew();

                    await MainService.RunAsync(s => s.Enqueue(allCompactData));

                    swTotal.Stop();
                    //HelperPerformanceConfig.Log(nameof(HubClient), "RunLoop.SendingToWebWorker()", swTotal.ElapsedMilliseconds, $"tick at {DateTime.Now:HH:mm:ss.fff}");
                }

                //await Task.Delay(10);
                sw.Stop();
                HelperPerformanceConfig.Log(nameof(HubClient), "RunLoopCache", sw.ElapsedMilliseconds, $"Executed work from channel: Dequeued {dequeued}");
            }
        }
        catch (OperationCanceledException e )
        {
            // esperado ao cancelar
            HelperPerformanceConfig.Log(nameof(HubClient), "RunLoopCache", 0, $"Error: {e.Message}");
        }
    }

    private async Task LoopAddBar()
    {
        try
        {
            HelperPerformanceConfig.Log(nameof(HubClient), "LoopAddBar()", 0, $"Initializing");
            while (await _channelBarStorage.Reader.WaitToReadAsync(_cts.Token))
            {
                if (_channelToDo.Reader.Count >= 2)
                {
                    //libera a thread
                    await Task.Delay(5000);
                    continue;
                }

                var sw = Stopwatch.StartNew();

                //cria variavel para enviar os dados uma unica vez para o worker, evitando múltiplas chamadas ao método RunAsync e consequentemente melhorando a performance
                List<BarStorageItem> allBars = new List<BarStorageItem>();

                var dequeued = _channelBarStorage.Reader.Count;

                while (_channelBarStorage.Reader.TryRead(out BarStorageItem? _data))
                {
                    if (_data == null) continue;

                    allBars.Add(_data);
                }

                if (barsQuery != null)
                {
                    var swTotal = Stopwatch.StartNew();

                    //verificar se o update dá add automatico
                    await barsQuery.UpdateRangeAsync(allBars);

                    // await barsQuery.AddOrUpdateRangeAsync(
                    //     allBars,
                    //     x => (x.Symbol, x.TimeFrame, x.Date),
                    //     (exist, incoming) =>
                    //     {
                    //         exist.Open = incoming.Open;
                    //         exist.High = incoming.High;
                    //         exist.Low = incoming.Low;
                    //         exist.Close = incoming.Close;
                    //         exist.Volume = incoming.Volume;

                    //         return exist;
                    //     });

                    swTotal.Stop();
                    HelperPerformanceConfig.Log(nameof(HubClient), "RunLoop.LoopAddBar()", swTotal.ElapsedMilliseconds, $"dequeued {dequeued}");
                }

                sw.Stop();
                HelperPerformanceConfig.Log(nameof(HubClient), "LoopAddBar", sw.ElapsedMilliseconds, $"Executed work from channel: Dequeued {dequeued}");
                //await Task.Delay(5000);
            }
        }
        catch (OperationCanceledException e)
        {
            // esperado ao cancelar
            HelperPerformanceConfig.Log(nameof(HubClient), "LoopAddBar", 0, $"Error: {e.Message}");
        }
    }

    private async Task LoopAddBubble()
    {
        while (true){
            try
            {
                HelperPerformanceConfig.Log(nameof(HubClient), "LoopAddBubble()", 0, $"Initializing");

                while (await _channelBubbleStorage.Reader.WaitToReadAsync(_cts.Token))
                {
                    if (_channelToDo.Reader.Count >= 2)
                    {
                        //libera a thread
                        await Task.Delay(5000);
                        continue;
                    }

                    var sw = Stopwatch.StartNew();

                    //cria variavel para enviar os dados uma unica vez para o worker, evitando múltiplas chamadas ao método RunAsync e consequentemente melhorando a performance
                    List<BubbleStorageItem> allBubbles = new List<BubbleStorageItem>();

                    var dequeued = _channelBubbleStorage.Reader.Count;

                    while (_channelBubbleStorage.Reader.TryRead(out BubbleStorageItem? _data))
                    {
                        if (_data == null) continue;

                        if (string.IsNullOrEmpty(_data.Symbol) ||
                            _data.ActionType == default ||
                            _data.Price == default ||
                            _data.Date == default ||
                            _data.Agent == default)
                        {
                            HelperPerformanceConfig.Log(
                                nameof(HubClient),
                                nameof(LoopAddBubble),
                                0,
                                $"Bubble inválido -> " +
                                $"Symbol:{_data.Symbol ?? "NULL"} | " +
                                $"ActionType:{_data.ActionType} | " +
                                $"Price:{_data.Price} | " +
                                $"Date:{_data.Date:o} | " +
                                $"Agent:{_data.Agent}"
                            );
                        }
                        allBubbles.Add(_data);
                    }

                    if (bubbleQuery != null)
                    {
                        var swTotal = Stopwatch.StartNew();
                        try {

                            await bubbleQuery.UpdateRangeAsync(allBubbles);
                        } 
                        catch (Exception e)
                        {
                            HelperPerformanceConfig.Log(
                                nameof(HubClient),
                                nameof(LoopAddBubble),
                                0, e.Message
                            );
                        }

                        swTotal.Stop();
                        HelperPerformanceConfig.Log(nameof(HubClient), "RunLoop.LoopAddBubble()", swTotal.ElapsedMilliseconds, $"tick at {DateTime.Now:HH:mm:ss.fff}");
                    }

                    sw.Stop();
                    HelperPerformanceConfig.Log(nameof(HubClient), "LoopAddBubble", sw.ElapsedMilliseconds, $"Executed work from channel: Dequeued {dequeued}");
                    //await Task.Delay(5000);
                }
            }
            catch (OperationCanceledException e)
            {
                // esperado ao cancelar
                HelperPerformanceConfig.Log(nameof(HubClient), "LoopAddBubble", 0, $"Error: {e.Message}");
            }
        }
    }

    public int GetCacheCount()
    {
        //HelperPerformanceConfig.Log(nameof(HubClient), "GetCacheCount", 0, $"Current cache count: {_channelToDo.Reader.Count} at {DateTime.Now:HH:mm:ss.fff}");
        return _channelToDo.Reader.Count;
    }

    double GetDiffInSeconds(string? time)
    {
        if (_lastUpdateBarReceived == null || string.IsNullOrEmpty(time))
            return double.MaxValue;

        var parsedTime = TimeSpan.Parse(time);

        var combined = _lastUpdateBarReceived.Value.Date + parsedTime;

        return (_lastUpdateBarReceived.Value - combined).TotalSeconds;
    }

    Color GetBadgeColor(string? time)
    {
        var diff = GetDiffInSeconds(time);
        if (diff >= 60)
            return Color.Error;
        else if (diff >= 10)
            return Color.Warning;
        else
            return Color.Success;
    }

    public new async ValueTask DisposeAsync()
    {
        if (MainService != null)
            await MainService.DisposeAsync();

        if (MainWorker != null)
            await MainWorker.DisposeAsync();

        _channelToDo.Writer.Complete();

        await base.DisposeAsync();
    }

    public async Task<BarStorageItem> AddBarsOnDB(BarStorageItem bar)
    {
        if (FakingData) return bar;

        if (bar == null) return new BarStorageItem();
        var sw = Stopwatch.StartNew();

        //vincula o volume no candle
        bar.VolumeLevel = _lastVolumeLevel?.Volumes;

        await _channelBarStorage.Writer.WriteAsync(bar);


        sw.Stop();
        HelperPerformanceConfig.Log(nameof(Magic), nameof(AddBarsOnDB), sw.ElapsedMilliseconds, $"Added {bar.Date} bars to IndexedDB at {DateTime.Now:HH:mm:ss.fff}");

        return bar;
    }

    public async Task AddBubleOnDB(BubbleStorageItem bubble)
    {
        if (FakingData) return;

        await _channelBubbleStorage.Writer.WriteAsync(bubble);
    }


    public bool _started { get; set; } = false;
    public async Task StartSymbol()
    {
        _started = true;

        if (MainService != null) await MainService.DisposeAsync();
        if (MainWorker != null) await MainWorker.DisposeAsync();
        await CreateWorkers();

        if (HubService != null) await HubService.DisposeAsync();
        if (MainHubWorker != null) await MainHubWorker.DisposeAsync();
        await CreateHubWorkers();
    }
}

<MudStack Row AlignItems="AlignItems.Center" Reverse Spacing="1">

    
    <MudTooltip Text="@($"Engines")" Arrow Placement="Placement.Start">
        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Engineering" OnClick="() => openDrawer = !openDrawer" />
    </MudTooltip>

    <MudDivider Vertical Class="mx-2" FlexItem="true" DividerType="DividerType.Middle" />
    <div style="margin-right: 65px">
        <MudTooltip Text="@($"SignalR ping (Local Time)")" Arrow>
            <MudBadge Color="Color.Info" Overlap=true Bordered=true Content="@($"{_lastUpdateBarReceived?.ToString("HH: mm: ss")} ↓ ")">
                <MudIcon Icon="@Icons.Material.Filled.CandlestickChart" Size="Size.Small" />
            </MudBadge>
        </MudTooltip>
    </div>
    <MudDivider Vertical Class="mx-2" FlexItem="true" DividerType="DividerType.Middle" />
    <div style="margin-right: 68px">
        <MudTooltip Text="@($"Candle (Background)")" Arrow>
            <MudBadge Color="GetBadgeColor(_candleTimeQueue)" Overlap=true Bordered=true Content="@($" {_candleTimeQueue} | {_candleQueue.ToString()}")">
                <MudIcon Icon="@Icons.Material.Filled.CandlestickChart" Size="Size.Small" />
            </MudBadge>
        </MudTooltip>
    </div>
    <div style="margin-right: 68px">
        <MudTooltip Text="@($"Bubble (Background)")" Arrow>
            <MudBadge Color="GetBadgeColor(_bubbleTimeQueue)" Overlap=true Bordered=true Content="@($" {_bubbleTimeQueue} | {_bubbleQueue.ToString()}")">
                <MudIcon Icon="@Icons.Material.Filled.BubbleChart" Size="Size.Small" />
            </MudBadge>
        </MudTooltip>
    </div>
    <div style="margin-right: 68px">
        <MudTooltip Text="@($"Volume (Background)")" Arrow>
            <MudBadge Color="GetBadgeColor(_volumeTimeQueue)" Overlap=true Bordered=true Content="@($" {_volumeTimeQueue} | {_volumeQueue.ToString()}")">
                <MudIcon Icon="@Icons.Material.Filled.BarChart" Size="Size.Small" />
            </MudBadge>
        </MudTooltip>
    </div>
    <div style="margin-right: 68px">
        <MudTooltip Text="@($"Structure (Background)")" Arrow>
            <MudBadge Color="GetBadgeColor(_structureTimeQueue)" Overlap=true Bordered=true Content="@($" {_structureTimeQueue} | {_structureQueue.ToString()}")">
                <MudIcon Icon="@Icons.Material.Filled.StackedLineChart" Size="Size.Small" />
            </MudBadge>
        </MudTooltip>
    </div>
    <div style="margin-right: 68px">
        <MudTooltip Text="@($"Volume Structure (Background)")" Arrow>
            <MudBadge Color="GetBadgeColor(_structureVolumeTimeQueue)" Overlap=true Bordered=true Content="@($" {_structureVolumeTimeQueue} | {_structureVolumeQueue.ToString()}")">
                <MudIcon Icon="@Icons.Material.Filled.Polyline" Size="Size.Small" />
            </MudBadge>
        </MudTooltip>
    </div>
    <MudDivider Vertical Class="mx-2" FlexItem="true" DividerType="DividerType.Middle" />
    <MudTooltip Text="Atualizar contadores" Placement="Placement.Start" Arrow>
        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Thermostat" OnClick="StateHasChanged" />
    </MudTooltip>

    <MudDivider Vertical Class="mx-2" FlexItem="true" DividerType="DividerType.Middle" />
    <MudTooltip Text="@($"Play")" Arrow Placement="Placement.Start">
        <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.PlayArrow" OnClick="StartSymbol" Disabled="_started" Color="@(_started ? Color.Default : Color.Warning)" />
    </MudTooltip>
</MudStack>

<MudDrawer Class="p-1" Variant="DrawerVariant.Temporary" ClipMode="DrawerClipMode.Docked" Width="22vw" Anchor="Anchor.Right" @bind-Open=openDrawer Style="height: 100vh;">
    <MudStack Justify="Justify.SpaceBetween" Spacing="1">

        <MudPaper Class="p-1" Outlined Elevation="0">
            <MudList T="string" Dense ReadOnly>
                <MudListItem Dense=true Icon="@Icons.Material.Filled.AllOut" Text="Serviços Externos (Tryd)" Expanded=true>
                    <NestedList>
                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="EnableTimesAndTrades" ThumbIcon="@(EnableTimesAndTrades == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(EnableTimesAndTrades == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Times and Trades
                                </MudText>
                            </MudSwitch>
                        </MudListItem>
                        <MudListItem Dense="true">
                            <MudSwitch Disabled Size="Size.Small" @bind-Value="EnableBook" ThumbIcon="@(EnableBook == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(EnableBook == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Book
                                </MudText>
                            </MudSwitch>
                        </MudListItem>
                        <MudListItem Dense="true">
                            <MudSwitch Disabled Size="Size.Small" @bind-Value="EnableTimesAndTradesSimple" ThumbIcon="@(EnableTimesAndTradesSimple == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(EnableTimesAndTradesSimple == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Times and Trades (Simples)
                                </MudText>
                            </MudSwitch>
                        </MudListItem>
                        
                    </NestedList>
                </MudListItem>
            </MudList>
        </MudPaper>

        <MudPaper Class="p-1" Outlined Elevation="0">
            <MudList T="string" Dense ReadOnly>
                <MudListItem Dense=true Icon="@Icons.Material.Filled.VideoSettings" Text="Serviços Internos" Expanded=true>
                    <NestedList>
                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" T="bool" Value="EnableCandleFormer" ValueChanged="EnableCandleFormerChanged" ThumbIcon="@(EnableCandleFormer == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(EnableCandleFormer == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Formação de Candles (no trimeframe específico)
                                </MudText>
                            </MudSwitch>
                        </MudListItem>
                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" T="bool" Value="EnableBubbleFormer" ValueChanged="EnableBubbleFormerChanged" ThumbIcon="@(EnableBubbleFormer == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(EnableBubbleFormer == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Formação dos bubbles (>= Amount informado)
                                </MudText>
                            </MudSwitch>
                        </MudListItem>
                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" T="bool" Value="EnableVolumeFormer" ValueChanged="EnableVolumeFormerChanged" ThumbIcon="@(EnableVolumeFormer == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(EnableVolumeFormer == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Formação de Volume Inspector
                                </MudText>
                            </MudSwitch>
                        </MudListItem>
                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" T="bool" Value="EnableStructureFormer" ValueChanged="EnableStructureFormerChanged" ThumbIcon="@(EnableStructureFormer == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(EnableStructureFormer == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Formação de Estruturas por preço
                                </MudText>
                            </MudSwitch>
                        </MudListItem>
                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" T="bool" Value="EnableStructureVolumeFormer" ValueChanged="EnableStructureVolumeFormerChanged" ThumbIcon="@(EnableStructureVolumeFormer == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(EnableStructureVolumeFormer == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Formação de Estruturas por volume
                                </MudText>
                            </MudSwitch>
                        </MudListItem>
                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" Disabled="@(!EnableTimesAndTrades || true)" @bind-Value="EnableSaveTicksToIndexedDb" ThumbIcon="@(EnableSaveTicksToIndexedDb == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(EnableSaveTicksToIndexedDb == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Save Ticks (Local DB)
                                </MudText>
                            </MudSwitch>
                        </MudListItem>
                    </NestedList>
                </MudListItem>
            </MudList>
        </MudPaper>

        @* <MudPaper Class="p-1" Outlined Elevation="0">
            <MudList T="string" Dense ReadOnly>
                <MudListItem Dense=true Icon="@Icons.Material.Filled.Wifi" Expanded=true>
                    <AvatarContent>
                        <MudTooltip Text="@hubConnection?.State.ToString()">
                            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Wifi" Color="IsConnected? Color.Success: Color.Error" Disabled=@(hubConnection == null || hubConnection.State == HubConnectionState.Connected) />
                        </MudTooltip>
                    </AvatarContent>
                    <ChildContent>
                        <MudText Typo="Typo.caption">Status</MudText>
                    </ChildContent>
                    <NestedList>
                        <MudListItem Dense="true">
                            <MudStack Row AlignItems="AlignItems.Center" Spacing="1" Justify="Justify.SpaceBetween">
                                <MudText Typo="Typo.body2">Dados recebidos:</MudText>
                                <MudText Typo="Typo.caption" @onclick="() => _counter = 0">@_counter</MudText>
                            </MudStack>
                        </MudListItem>
                    </NestedList>
                </MudListItem>
            </MudList>
        </MudPaper> *@

        <MudPaper Class="p-1" Outlined Elevation="0">
            <MudList T="string" Dense ReadOnly>
                <MudListItem Dense=true Icon="@Icons.Material.Filled.Storage" Expanded=true>
                    <AvatarContent>
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Storage" />
                    </AvatarContent>
                    <ChildContent>
                        <MudText Typo="Typo.caption">Data base</MudText>
                    </ChildContent>
                    <NestedList>
                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" T="bool" @bind-Value="FakingData" ThumbIcon="@(FakingData == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(FakingData == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Faking Data (true = não salvar no banco)
                                </MudText>
                            </MudSwitch>
                            
                        </MudListItem>
                    </NestedList>
                </MudListItem>
            </MudList>
        </MudPaper>

        <MudPaper Class="p-1" Outlined Elevation="0">
            <MudList T="string" Dense ReadOnly>
                <MudListItem Dense=true Icon="@Icons.Material.Filled.Wifi" Expanded=true>
                    <AvatarContent>
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Info" />
                    </AvatarContent>
                    <ChildContent>
                        <MudText Typo="Typo.caption">Logs</MudText>
                    </ChildContent>
                    <NestedList>
                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableCandleHelper" ThumbIcon="@(HelperPerformanceConfig.EnableCandleHelper == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableCandleHelper == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Candle Helper
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableBubbleHelper" ThumbIcon="@(HelperPerformanceConfig.EnableBubbleHelper == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableBubbleHelper == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Bubble Helper
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableVolumeHelper" ThumbIcon="@(HelperPerformanceConfig.EnableVolumeHelper == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableVolumeHelper == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Volume Helper
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableDataHelper" ThumbIcon="@(HelperPerformanceConfig.EnableDataHelper == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableDataHelper == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Data Helper
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableStructureHelper" ThumbIcon="@(HelperPerformanceConfig.EnableStructureHelper == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableStructureHelper == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Structure Helper
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableStructureVolumeHelper" ThumbIcon="@(HelperPerformanceConfig.EnableStructureVolumeHelper == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableStructureVolumeHelper == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Structure Volume Helper
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableMapFlow" ThumbIcon="@(HelperPerformanceConfig.EnableMapFlow == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableMapFlow == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    MapFlow
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableHubClient" ThumbIcon="@(HelperPerformanceConfig.EnableHubClient == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableHubClient == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Hub Client
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableHubClientWorker" ThumbIcon="@(HelperPerformanceConfig.EnableHubClientWorker == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableHubClientWorker == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Hub Client Worker
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableMainHelper" ThumbIcon="@(HelperPerformanceConfig.EnableMainHelper == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableMainHelper == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Main Helper
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableMagicDb" ThumbIcon="@(HelperPerformanceConfig.EnableMagicDb == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableMagicDb == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Magic Db
                                </MudText>
                            </MudSwitch>
                        </MudListItem>

                        <MudListItem Dense="true">
                            <MudSwitch Size="Size.Small" @bind-Value="HelperPerformanceConfig.EnableImport" ThumbIcon="@(HelperPerformanceConfig.EnableImport == true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(HelperPerformanceConfig.EnableImport == true ? Color.Success : Color.Error)">
                                <MudText Typo="Typo.caption" Class="ml-4">
                                    Import
                                </MudText>
                            </MudSwitch>
                        </MudListItem>
                    </NestedList>
                </MudListItem>
            </MudList>
        </MudPaper>


    </MudStack>
    
</MudDrawer>